<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
      <title>Gist</title>
    

    <meta content="authenticity_token" name="csrf-param">
<meta content="d11ebdb9cafb78e4d3e21b891a40385b4b5fc946" name="csrf-token">

    <link href="list2_files/bundle_gist.css" media="screen" rel="stylesheet" type="text/css">

    <script src="list2_files/jquery-1.js" type="text/javascript"></script>
    <script src="list2_files/bundle_gist.js" type="text/javascript"></script>

    
        <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3769691-4']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();
    </script><script async="true" src="list2_files/ga.js"></script>

  </head>

  <body class="windows">
    <div id="main">
      <div id="header" class="">
        <div class="site">
          <div class="logo">
            <a href="https://gist.github.com/"><img alt="gist" src="list2_files/logo_gist.png" height="45" width="164"></a>
          </div>

          
            





  
    <div class="userbox">
      <div class="avatarname">
        <a href="https://github.com/wqli78"><img src="list2_files/8c87d21c77922335ad2b2edd150f75ce.png" alt="" height="20" width="20"></a>
        <a href="https://github.com/wqli78" class="name">wqli78</a>

        
        
      </div>
      <ul class="usernav">
        <li><a href="https://github.com/">Dashboard</a></li>
        <li>
          
          <a href="https://github.com/inbox">Inbox</a>
          <a href="https://github.com/inbox" class="unread_count ">0</a>
        </li>
        <li><a href="https://github.com/account">Account Settings</a></li>
        <li><a href="https://gist.github.com/logout">Log Out</a></li>
      </ul>
    </div><!-- /.userbox -->
  


          

          <div class="topsearch">
            <form action="/gists/search" id="top_search_form" method="get">
              <input name="q" results="5" class="search placeholder" placeholder="Search Gists…" type="search"> <input value="Search" class="button" type="submit">
              <input name="page" value="1" type="hidden">
            </form>

            <ul class="nav">
              <li><a href="https://gist.github.com/">New Gist</a></li>
              
                <li><a href="https://gist.github.com/mine">My Gists</a>
                </li><li><a href="https://gist.github.com/starred">Starred Gists</a>
              
              </li><li><a href="https://gist.github.com/gists">All Gists</a></li>
              <li><a href="https://github.com/">Back to GitHub</a></li>
            </ul>
          </div><!-- /.topsearch -->
        </div>
      </div>

    <div class="site">
      

  <div class="secondary">
    <div id="options">
      <h3>Gists Created</h3>
      <ul style="list-style-type:none">
        
          <li><span style="float:right">1,457</span> Last 24 hours</li>
        
          <li><span style="float:right">16,436</span> Last 7 days</li>
        
          <li><span style="float:right">25,109</span> This month</li>
        
          <li><span style="float:right">447,889</span> This year</li>
        
      </ul>
    </div>

    
  </div>


<div class="main">
  

  
    <h2>All Gists</h2>
  

  <div id="files">
    
<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210745">gist: 1210745</a></span>
      <span>Reading List</span>
    </div>
    <img class="gravatar" src="list2_files/d0e51280d0f6a0aac23e03c204353677.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:20:24-07:00" title="2011-09-12 00:20:24">2 minutes ago</time>
      
        by <a href="https://gist.github.com/brhelwig">brhelwig</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">h1. Programming Related</div><div class="line" id="LC2"><br></div><div class="line" id="LC3">1. The Pragmatic Programmers</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210741">gist: 1210741</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/5f69f9b90487c693276e15d93455394a.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:16:34-07:00" title="2011-09-12 00:16:34">6 minutes ago</time>
      
        by <a href="https://gist.github.com/mechairoi">mechairoi</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">-- </div><div class="line" id="LC2">-- Toggle AirPort.scpt</div><div class="line" id="LC3">-- </div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210740">gist: 1210740</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/5f69f9b90487c693276e15d93455394a.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:16:18-07:00" title="2011-09-12 00:16:18">6 minutes ago</time>
      
        by <a href="https://gist.github.com/mechairoi">mechairoi</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">#!/usr/bin/env perl</div><div class="line" id="LC2">use List::Util qw(first);</div><div class="line" id="LC3">while(1){</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210738">gist: 1210738</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/5f69f9b90487c693276e15d93455394a.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:15:32-07:00" title="2011-09-12 00:15:32">7 minutes ago</time>
      
        by <a href="https://gist.github.com/mechairoi">mechairoi</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">#!/usr/bin/env perl</div><div class="line" id="LC2">use List::Util qw(first);</div><div class="line" id="LC3">while(1){</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210736">gist: 1210736</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/d9d0ceb387e3b6de5c4562af78e8a910.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:15:20-07:00" title="2011-09-12 00:15:20">7 minutes ago</time>
      
        by <a href="https://gist.github.com/ujihisa">ujihisa</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">	<span class="na">.file</span>	<span class="s">"a.c"</span></div><div class="line" id="LC2">	<span class="na">.section</span>	<span class="no">.rodata</span></div><div class="line" id="LC3"><span class="nl">.LC0:</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210733">gist: 1210733</a></span>
      <span>rake db:test:prepare</span>
    </div>
    <img class="gravatar" src="list2_files/1530d3bc9386ed35286d1faaf97507f5.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:12:51-07:00" title="2011-09-12 00:12:51">9 minutes ago</time>
      
        by <a href="https://gist.github.com/honeytree">honeytree</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">WARNING: 'task :t, arg, :needs =&gt; [deps]' is deprecated.  Please use 'task :t, [args] =&gt; [deps]' instead.</div><div class="line" id="LC2">&nbsp;&nbsp;&nbsp;&nbsp;at /srv/projects/mpro/r3/lib/tasks/city.rake:4</div><div class="line" id="LC3">WARNING: 'task :t, arg, :needs =&gt; [deps]' is deprecated.  Please use 'task :t, [args] =&gt; [deps]' instead.</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210730">gist: 1210730</a></span>
      <span>文字列リストを辞書的に網羅する。</span>
    </div>
    <img class="gravatar" src="list2_files/a69e929c9f3aca6b076f1db541efc3ff.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:09:10-07:00" title="2011-09-12 00:09:10">13 minutes ago</time>
      
        by <a href="https://gist.github.com/nobeans">nobeans</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">def l = ["", *"A".."Z"]</div><div class="line" id="LC2">def combinations = [l, l].combinations().collect{ it.join() }.unique() - ''</div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210729">gist: 1210729</a></span>
      <span>Dungeonator Notes - Room Sets &amp; Reservation</span>
    </div>
    <img class="gravatar" src="list2_files/a32abb3e712952fecdc9e1b54deed45f.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-12T00:08:41-07:00" title="2011-09-12 00:08:41">14 minutes ago</time>
      
        by <a href="https://gist.github.com/Timberjaw">Timberjaw</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">Table: reserved_rooms</div><div class="line" id="LC2">Fields: x y z library_id</div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210728">gist: 1210728</a></span>
      <span>Compile GraphicsMagick on Mac OS X 10.7 (Lion)</span>
    </div>
    <img class="gravatar" src="list2_files/54729c86868a06943485d8fc0833b362.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:58:09-07:00" title="2011-09-11 23:58:09">24 minutes ago</time>
      
        by <a href="https://gist.github.com/ammmir">ammmir</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c"># download libpng 1.4.x (1.5 didn't work yet with GraphicsMagick 1.3.12)</span></div><div class="line" id="LC2">./configure --prefix<span class="o">=</span><span class="nv">$HOME</span>/INST <span class="o">&amp;&amp;</span> make <span class="o">&amp;&amp;</span> make install</div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210727">gist: 1210727</a></span>
      <span>Tetris implementation in Clojure</span>
    </div>
    <img class="gravatar" src="list2_files/f04db9163f428c4fd70da0a1fceef250.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:57:41-07:00" title="2011-09-11 23:57:41">25 minutes ago</time>
      
        by <a href="https://gist.github.com/NOLFXceptMe">NOLFXceptMe</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="p">(</span><span class="nf">ns</span> <span class="nv">tetris</span><span class="o">.</span><span class="nv">core</span></div><div class="line" id="LC2">&nbsp;&nbsp;<span class="p">(</span><span class="nf">:import</span> <span class="p">(</span><span class="nf">java</span><span class="o">.</span><span class="nv">awt</span> <span class="nv">Color</span> <span class="nv">Dimension</span> <span class="nv">BorderLayout</span><span class="p">)</span></div><div class="line" id="LC3">&nbsp;&nbsp;&nbsp;&nbsp;<span class="p">(</span><span class="nf">javax</span><span class="o">.</span><span class="nv">swing</span> <span class="nv">JPanel</span> <span class="nv">JFrame</span> <span class="nv">JOptionPane</span> <span class="nv">JButton</span> <span class="nv">JLabel</span><span class="p">)</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210726">gist: 1210726</a></span>
      <span>文字列リストを辞書的に網羅する。</span>
    </div>
    <img class="gravatar" src="list2_files/405fe9ab689473f267e2cfbd95f78c75.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:56:57-07:00" title="2011-09-11 23:56:57">25 minutes ago</time>
      
        by <a href="https://gist.github.com/kyonmm">kyonmm</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">String.metaClass.multiply = {String s -&gt;</div><div class="line" id="LC2">&nbsp;&nbsp;&nbsp;&nbsp;delegate+s</div><div class="line" id="LC3">}</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210721">gist: 1210721</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/5810a1b7743eb2186ca0ea1d0a3469a0.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:51:32-07:00" title="2011-09-11 23:51:32">31 minutes ago</time>
      
        by <a href="https://gist.github.com/stepheneb">stepheneb</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c1">#!/usr/bin/env ruby</span></div><div class="line" id="LC2"><br></div><div class="line" id="LC3"><span class="n">repos</span> <span class="o">=</span> <span class="o">[</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210714">gist: 1210714</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/bcc635978c6284f4e3f7654260b05d7b.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:44:28-07:00" title="2011-09-11 23:44:28">38 minutes ago</time>
      
        by <a href="https://gist.github.com/grapswiz">grapswiz</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="kd">function</span> <span class="nx">outputCityData</span><span class="p">(</span><span class="nx">obj</span><span class="p">)</span> <span class="p">{</span></div><div class="line" id="LC2">&nbsp;&nbsp;<span class="kd">var</span> <span class="nx">ss</span> <span class="o">=</span> <span class="nx">SpreadsheetApp</span><span class="p">.</span><span class="nx">getActiveSpreadsheet</span><span class="p">();</span></div><div class="line" id="LC3">&nbsp;&nbsp;<span class="kd">var</span> <span class="nx">sheet</span> <span class="o">=</span> <span class="nx">ss</span><span class="p">.</span><span class="nx">insertSheet</span><span class="p">(</span><span class="nx">obj</span><span class="p">[</span><span class="s1">'city_name'</span><span class="p">]);</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210707">gist: 1210707</a></span>
      <span>get download links for 0day trance music from clubtrance</span>
    </div>
    <img class="gravatar" src="list2_files/f2583cecbd75c5999bf65d9eeb6a84f2.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:41:23-07:00" title="2011-09-11 23:41:23">41 minutes ago</time>
      
        by <a href="https://gist.github.com/lg">lg</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c"># this will print out links to all 0day trance songs listed on club-trance.net.</span></div><div class="line" id="LC2"><span class="c"># no downloads are done, we're just scraping. output is to be copied and pasted into jdownloader.</span></div><div class="line" id="LC3"><span class="c"># oh also sites listed in the output are logged to a 'visited' file to prevent duplication</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210706">gist: 1210706</a></span>
      <span>テキストファイルを10行ずつ別のファイルに書き出すプログラム</span>
    </div>
    <img class="gravatar" src="list2_files/80d2fc532ffcaba52ff614bb12a30336.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:41:14-07:00" title="2011-09-11 23:41:14">41 minutes ago</time>
      
        by <a href="https://gist.github.com/amay077">amay077</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c"># coding: UTF-8</span></div><div class="line" id="LC2"><span class="c"># テキストファイルを、10行ずつ区切るだけのプログラム</span></div><div class="line" id="LC3"><span class="c"># Created 2011.9.12 @amay077</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210704">gist: 1210704</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/acf40866ecac9464e9c5275ddfed80b8.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:40:19-07:00" title="2011-09-11 23:40:19">42 minutes ago</time>
      
        by <a href="https://gist.github.com/whitedrops">whitedrops</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">### Priority</div><div class="line" id="LC2">#debconf debconf/priority        select  critical</div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210701">gist: 1210701</a></span>
      <span>Initial Description of OG_Clone</span>
    </div>
    <img class="gravatar" src="list2_files/531403ff2b678bc9901c3466ca978b58.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:37:28-07:00" title="2011-09-11 23:37:28">about an hour ago</time>
      
        by <a href="https://gist.github.com/markwk">markwk</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">Description:</div><div class="line" id="LC2">OG Clone Module allows you clone the content of a Drupal organic group and redeploy in a new group. </div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210693">gist: 1210693</a></span>
      <span>Plurk CSS (original by howar31)</span>
    </div>
    <img class="gravatar" src="list2_files/ff7d47a899d7cde4dd379677e2f06021.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:31:23-07:00" title="2011-09-11 23:31:23">about an hour ago</time>
      
        by <a href="https://gist.github.com/CrBoy">CrBoy</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1">這個 CSS 樣式表最初由 howar31 製作， CrBoy 為了記錄改寫的過程所以放上 gist.github。</div><div class="line" id="LC2">This stylesheet is originally made by howar31. CrBoy put it on gist.github for modifying and improving.</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210692">gist: 1210692</a></span>
      <span>Null reads under multithreaded usage of Voldemort's StoreClient</span>
    </div>
    <img class="gravatar" src="list2_files/7ab40d2dbf7e2bb0f3c2f53d302a8bd2.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:31:04-07:00" title="2011-09-11 23:31:04">about an hour ago</time>
      
        by <a href="https://gist.github.com/jeffstyr">jeffstyr</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="kn">import</span> <span class="nn">voldemort.client.ClientConfig</span><span class="o">;</span></div><div class="line" id="LC2"><span class="kn">import</span> <span class="nn">voldemort.client.SocketStoreClientFactory</span><span class="o">;</span></div><div class="line" id="LC3"><span class="kn">import</span> <span class="nn">voldemort.client.StoreClient</span><span class="o">;</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210690">gist: 1210690</a></span>
      <span>tc - 516 div2 - 1000</span>
    </div>
    <img class="gravatar" src="list2_files/d0307170d3f6c7687bb6901d5183c8b3.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:28:46-07:00" title="2011-09-11 23:28:46">about an hour ago</time>
      
        by <a href="https://gist.github.com/gorlum0">gorlum0</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="cm">/*(c) gorlum0 [at] gmail.com*/</span></div><div class="line" id="LC2"><span class="kn">import</span> <span class="nn">java.io.*</span><span class="o">;</span></div><div class="line" id="LC3"><span class="kn">import</span> <span class="nn">java.util.*</span><span class="o">;</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210689">gist: 1210689</a></span>
      <span></span>
    </div>
    <img class="gravatar" src="list2_files/47923b1f334d8e3f7a00506ac3c7a636.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:27:56-07:00" title="2011-09-11 23:27:56">about an hour ago</time>
      
        by <a href="https://gist.github.com/ricardobeat">ricardobeat</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><br></div><div class="line" id="LC2">jQuery.fn.makeBlue = function(){</div><div class="line" id="LC3">&nbsp;&nbsp;&nbsp;&nbsp;return this.css({</div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210688">gist: 1210688</a></span>
      <span>Reeeaallly N00b Hello World in nodejs</span>
    </div>
    <img class="gravatar" src="list2_files/1ea30b45f25eb5b249db6591c16926cc.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:27:40-07:00" title="2011-09-11 23:27:40">about an hour ago</time>
      
        by <a href="https://gist.github.com/hermanjunge">hermanjunge</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="kd">var</span> <span class="nx">http</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'http'</span><span class="p">);</span></div><div class="line" id="LC2"><br></div><div class="line" id="LC3"><span class="nx">http</span><span class="p">.</span><span class="nx">createServer</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">request</span><span class="p">,</span> <span class="nx">response</span><span class="p">)</span> <span class="p">{</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210680">gist: 1210680</a></span>
      <span>Google Developer Days 2011 Tokyo DevQuiz</span>
    </div>
    <img class="gravatar" src="list2_files/fd945a7eb7a10d15b90697f1570d2859.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:20:35-07:00" title="2011-09-11 23:20:35">about an hour ago</time>
      
        by <a href="https://gist.github.com/MineStudio">MineStudio</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="cm">/* Google Developer Day 2011 DevQuiz</span></div><div class="line" id="LC2"><span class="cm">mine@mine-studio.com MineStudio</span></div><div class="line" id="LC3"><span class="cm">*/</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210677">gist: 1210677</a></span>
      <span>파이썬 인코딩 에러시 대처(for cp949)</span>
    </div>
    <img class="gravatar" src="list2_files/eeca1969dd1e13cfc05d8a9557b90b5e.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:19:51-07:00" title="2011-09-11 23:19:51">about an hour ago</time>
      
        by <a href="https://gist.github.com/kall">kall</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c"># -*- encoding: cp949 -*-</span></div><div class="line" id="LC2"><span class="kn">import</span> <span class="nn">sys</span></div><div class="line" id="LC3"><span class="nb">reload</span><span class="p">(</span><span class="n">sys</span><span class="p">)</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210676">gist: 1210676</a></span>
      <span>파이선 정렬</span>
    </div>
    <img class="gravatar" src="list2_files/eeca1969dd1e13cfc05d8a9557b90b5e.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:17:18-07:00" title="2011-09-11 23:17:18">about an hour ago</time>
      
        by <a href="https://gist.github.com/kall">kall</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c"># -*- coding: utf-8 -*-</span></div><div class="line" id="LC2"><br></div><div class="line" id="LC3"><span class="n">d</span> <span class="o">=</span> <span class="p">{}</span> <span class="c"># some dict</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210669">gist: 1210669</a></span>
      <span>Ruby Array Enumerator Return Values</span>
    </div>
    <img class="gravatar" src="list2_files/311c297fac1413aed55bced7735dea29.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:09:47-07:00" title="2011-09-11 23:09:47">about an hour ago</time>
      
        by <a href="https://gist.github.com/h3h">h3h</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="o">&gt;&gt;</span> <span class="k">class</span> <span class="nc">MyArray</span> <span class="o">&lt;</span> <span class="nb">Array</span><span class="p">;</span> <span class="k">end</span></div><div class="line" id="LC2"><span class="o">=&gt;</span> <span class="kp">nil</span>  </div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210666">gist: 1210666</a></span>
      <span>basic-auth example</span>
    </div>
    <img class="gravatar" src="list2_files/d86297017cc470e67032b9b8612b7731.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:05:14-07:00" title="2011-09-11 23:05:14">about an hour ago</time>
      
        by <a href="https://gist.github.com/dawnerd">dawnerd</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="kd">var</span> <span class="nx">express</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'express'</span><span class="p">),</span></div><div class="line" id="LC2">&nbsp;&nbsp;&nbsp;&nbsp;<span class="nx">app</span> <span class="o">=</span> <span class="nx">module</span><span class="p">.</span><span class="nx">exports</span> <span class="o">=</span> <span class="nx">express</span><span class="p">.</span><span class="nx">createServer</span><span class="p">();</span></div><div class="line" id="LC3"><br></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210660">gist: 1210660</a></span>
      <span>my .profile</span>
    </div>
    <img class="gravatar" src="list2_files/d415cbbbcddc752949f15a8293389a03.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T23:01:49-07:00" title="2011-09-11 23:01:49">about an hour ago</time>
      
        by <a href="https://gist.github.com/datoine">datoine</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c"># This function gets current git branch</span></div><div class="line" id="LC2"><span class="k">function </span>parse_git_branch <span class="o">{</span></div><div class="line" id="LC3">&nbsp;&nbsp;<span class="nv">brs</span><span class="o">=</span><span class="k">$(</span>git branch 2&gt;/dev/null | grep <span class="s1">'^*'</span> | colrm 1 2<span class="k">)</span> <span class="o">||</span> <span class="k">return</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210658">gist: 1210658</a></span>
      <span>my .profile, .gitconfig, Cl_black.terminal theme</span>
    </div>
    <img class="gravatar" src="list2_files/1354cff05d2a4dde0a49caabb4c691ae.png" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T22:58:36-07:00" title="2011-09-11 22:58:36">about an hour ago</time>
      
        by <a href="https://gist.github.com/MrCloud">MrCloud</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="k">[user]</span></div><div class="line" id="LC2">	<span class="na">name</span> <span class="o">=</span> <span class="s">MrCloud</span></div><div class="line" id="LC3"><span class="s">	email = </span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

<div class="file public">
  <div class="meta clearfix">
    <div class="info">
      <span><a href="https://gist.github.com/1210657">gist: 1210657</a></span>
      <span>do each rubies</span>
    </div>
    <img class="gravatar" src="list2_files/da2b1d6192ef9d4312253ad5a24e645e.jpeg" alt="Gravatar" height="16" width="16">
    <div class="date">
      <time class="js-relative-date" datetime="2011-09-11T22:58:25-07:00" title="2011-09-11 22:58:25">about an hour ago</time>
      
        by <a href="https://gist.github.com/kzgs">kzgs</a>
      
    </div>
  </div>
  <div class="data syntax">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td>
<pre class="line_numbers"><span id="LID1" rel="#L1">1</span>
<span id="LID2" rel="#L2">2</span>
<span id="LID3" rel="#L3">3</span>
</pre>
</td>
<td width="100%">
<div class="highlight"><pre><div class="line" id="LC1"><span class="c">#!/bin/bash</span></div><div class="line" id="LC2"><br></div><div class="line" id="LC3"><span class="nv">RVM_HOME</span><span class="o">=</span><span class="s1">'~/.rvm'</span></div></pre></div>
</td>
</tr>
</tbody></table>
</div>

</div>

  </div>

  <div class="pagination"><span class="disabled">« Newer</span><a href="https://gist.github.com/gists?page=2">Older »</a></div>
</div><!-- /.main -->

    </div> <!-- site -->

    <div class="push"></div>

    </div>

    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="logo">
            <a href="https://github.com/">
              <img alt="GitHub" src="list2_files/logo_white.png">
            </a>
          </div>
          <div class="more">
            <div class="links">
              <a href="https://github.com/blog"><strong>Blog</strong></a> |
              <a href="https://github.com/about">About</a> |
              <a href="https://github.com/contact">Support</a> |
              <a href="https://github.com/contact">Contact</a> |
              <a href="https://github.com/site/privacy">Privacy</a> |
              <a href="https://github.com/site/terms">Terms of Service</a>
            </div>
            <div class="company">
              ©
              2011
              <span id="_rrt" title="0.13416s from fe4.rs.github.com">GitHub</span> Inc.
              All rights reserved.
           </div>
          </div>
        </div>
        <div class="sponsor">
          <div>
            Powered by the <a href="http://www.rackspace.com/">Dedicated
            Servers</a> and<br> <a href="http://www.rackspacecloud.com/">Cloud
            Computing</a> of Rackspace Hosting<span>®</span>
          </div>
          <a href="http://www.rackspace.com/">
            <img alt="Dedicated Server" src="list2_files/rackspace_logo.png">
          </a>
        </div>
      </div>
    </div>
  

</body></html>