<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>查看病友、求诊中医的最佳场所-中医案例网</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
    <link rel="fluid-icon" href="/images/fluidicon.png" title="GitHub">

    <%- styles %>
    <%- scripts %>
    <link href="/css/bundle_github.css" media="screen" rel="stylesheet" type="text/css">
    

  </head>

  

  <body class="<% if (user.username!='') { %>logged_in<% } else{ %>  logged_out <% }%> page-home windows env-production">
    

    

    

    <div class="" id="main">
      <div id="header" class="true">
          <a class="logo boring" href="/">
            
            <img alt="github" class="default" src="/images/logov6.png" height="45">
            <!--[if (gt IE 8)|!(IE)]><!-->
            <img alt="github" class="hover" src="/images/logov6-hover.png" height="45">
            <!--<![endif]-->
          </a>


  
    <!--
      make sure to use fully qualified URLs here since this nav
      is used on error pages on other domains
    -->
 <% if (user.username!='') { %>
 



  
    <div class="userbox">
      <div class="avatarname">
        <a href="/"><img src="/images/8c87d21c77922335ad2b2edd150f75ce.png" alt="" height="20" width="20"></a>
        <a href="/zuser" class="name"><%= user.username %></a>

        
        
      </div>
      <ul class="usernav">

        <li><a href="/zuser/dashboard">控制面板</a></li>
        <li>
          
          <a href="/inbox">站内消息</a>
          <a href="/inbox" class="unread_count ">0</a>
        </li>
        <li><a href="/zuser/profile/<%= user.username%>/edit">账户设置 </a></li>
        <li><a href="/zuser/logout">注销</a></li>

      </ul>
    </div><!-- /.userbox -->
         
        <div class="topsearch">
  
    <form action="/sickcases/act/search" id="top_search_form" method="get">
      <a href="/sickcases/act/search" class="advanced-search tooltipped downwards" title="Advanced Search">高级搜索</a>
      <div class="search placeholder-field js-placeholder-field">
        <label style="display: block; " class="placeholder" for="global-search-field">搜索...</label>
        <input autocomplete="off" class="search my_repos_autocompleter ac_input" id="global-search-field" name="q" results="5" type="text"> <input value="Search" class="button" type="submit">

      </div>
      <input name="type" value="Everything" type="hidden">
      <input name="repo" value="" type="hidden">
      <input name="langOverride" value="" type="hidden">
      <input name="start_value" value="1" type="hidden">
    </form>
    <ul class="nav">
      <li><a href="/sickcase/list">浏览案例</a></li>

      <li><a href="/tip/">治病小窍门</a></li>
      
      <li><a href="/blog">博客</a></li>
      
      <li><a href="/help">帮助</a></li>
    </ul>
  
</div>


      
		
		
<% }else{ %>       

        
<div class="topsearch">

<ul class="nav logged_out">
  
    <li class="pricing"><a href="/zuser/signup">注册</a></li>
    <li class="explore"><a href="/sickcase">案例</a></li>
    <li class="features"><a href="/doctor">医生</a></li>
    <li class="blog"><a href="/blog">博客</a></li>
	<li class="login"><a href="/zuser/login">登录</a></li>

</ul>

</div>  
<% } %>

      </div>

      
      
        <div class="site">		
		<!-- 内容放在这里 -->
		
        	<%- body %>

        </div>
      
    </div>

    <!--**************
     页脚
     **************-->
    <div id="footer">
      <div class="upper_footer">
        <div class="site">

        <!--[if IE]><h4 id="blacktocat_ie">GitHub Links</h4><![endif]-->
        <!--[if !IE]--><h4 id="blacktocat">GitHub Links</h4><!--[endif]-->

        <ul class="footer_nav">
          <h4>本站</h4>
          <li><a href="/about">关于我们</a></li>
          <li><a href="/blog">帮助</a></li>
          <li><a href="/features">常见问题</a></li>
          <li><a href="/contact">联系方式与支持</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>相关网站</h4>
          <li><a href="http://www.moh.gov.cn/">国家卫生部</a></li>
          <li><a href="http://www.satcm.gov.cn/">国家中医药管理局</a></li>
          <li><a href="http://www.bucm.edu.cn/">北京中医药大学</a></li>
          <li><a href="http://www.ngotcm.com/forum/">民间中医网</a></li>
          <li><a href="http://www.zysj.com.cn/">中医世家</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>合作推荐</h4>
          <li><a href="http://www.guangmingtcm.net">光明中医</a></li>
          <li><a href="http://www.fblbjh.com/">冯斌淋巴结合医院</a></li>
          <li><a href="http://www.shanghanlun.com.cn/">伤寒论</a></li>
          <li><a href="http://www.mjjh123.com/">民间中医绝活网</a></li>
          <li><a href="http://www.chnmss.com.cn/">中华医学研究会</a></li>
        </ul>

        <ul class="footer_nav">
          <h4>推荐阅读</h4>
          <li><a href="">病友求医手册</a></li>
          <li><a href="">中医使用指南</a></li>
          <li><a href="">求诊中医为什么要把整个过程记录下来？
</a></li>
          <li><a href="">中医不愿意治疗的几类人</a></li>
          <li><a href="">涌现特性、系统生物学与中医的现代诠释</a></li>
        </ul>

        </div><!-- /.site -->
      </div><!-- /.upper_footer -->

      <div class="lower_footer">
        <div class="site">

        <!--[if IE]><div id="legal_ie"><![endif]-->
        <!--[if !IE]--><div id="legal"><!--[endif]-->
              
              <ul>
                <li><a href="/site/terms">协议和条款</a></li>
                <li><a href="/site/privacy">隐私保护</a></li>
              </ul>
              

              <p>
				<span>京ICP备11028253号</span><br><br>
				© 2010 <span id="_rrt" title="0.01000s from fe7.rs.github.com">北京东方莲池网络科技有限公司</span> 版权所有</p>
            </div><!-- /#legal or /#legal_ie-->

          
          <div class="sponsor">
              <a href="http://www.rackspace.com/" class="logo">
                <img alt="Dedicated Server" src="/images/nodejs.png"  width="50">
              </a>
              技术支持 <a href="http://nodejs.org/">NodeJs</a> <br> 程序框架<a href="http://expressjs.com/">ExpressJs</a> 
          </div>
          
        </div><!-- /.site -->
      </div><!-- /.lower_footer -->
    </div><!-- /#footer -->

    
    
    
  

 