
<div class="pagehead homehead">
  <div class="hero">
    
      <h1>
        <strong>345</strong> 位用户创建了 <strong>123</strong> 个中医案例!
      </h1>
    
    <div class="textographic">
      <form action="/search" id="top_search_form" method="get">
        <p>
          <a class="repo" href="/sickcases/act/case_list?cat=gan">肝病案例</a>,
          <a class="repo" href="/sickcases/act/case_list?cat=ai">癌症案例</a>,
          <a class="repo" href="/sickcases/act/case_list?cat=jisui">脊髓损伤</a>,
          <a class="repo" href="/sickcases/act/case_list?cat=guke">骨科</a>,
          <a class="repo" href="/sickcases/act/case_list?cat=others">无名疾病</a>,
          还有<strong><a href="/cats/act/cats_list">更多</a></strong>

          <input class="search" name="q" placeholder="查找更多案例" type="text">
          <input name="type" value="Everything" type="hidden">
          <input name="repo" value="" type="hidden">
          <input name="langOverride" value="" type="hidden">
          <input name="start_value" value="1" type="hidden">
        </p>
      </form>
    </div>
  </div>
</div>

<div class="logos">
  <a href="/sickcases/4e7980d5d6b7887c32000010/case_show"><img alt="facebook" src="/images/liuwencai.png" height="113"></a>
  <a href="/sickcases/4e7980d5d6b7887c32000010/case_show"><img alt="Twitter" src="/images/furujuan.png" height="113" width="100"></a>
  <a href="/sickcases/4e7980d5d6b7887c32000010/case_show"><img alt="Yahoo!" src="/images/yhj.png" height="113" ></a>
  <a href="/sickcases/4e7980d5d6b7887c32000010/case_show"><img alt="Shopify" src="/images/zhanglanxiang.png" height="113"></a>
  <a href="/sickcases/4e7980d5d6b7887c32000010/case_show"><img alt="EMI" src="/images/zhangxiumei.png" height="113" ></a>
  <a href="/sickcases/4e7980d5d6b7887c32000010/case_show"><img alt="Rackspace" src="/images/liuyuxue.png" height="113" width="100"></a>
</div>

<div class="definitions">
  <div class="inner columns equacols">
    <div class="column main">
      <h2>对病友 <em></em></h2>
      <p>本站为久治不愈的疑难病友提供一个<strong>共享信息、互相帮助</strong>的平台，是疑难病友寻找解决问题办法的最好基地。</p>
    </div><!-- /.column.left -->

    <div class="column secondary">
      <h2>对医生 <em></em></h2>
      <p>本站是优秀中医展示疗效水平的最佳平台，用 <strong>真实</strong>、 <strong>详细</strong>、 <strong>实时</strong>、 <strong>前瞻性</strong> 的证据来证实医生的水平。</p>
    </div><!-- /.column.right -->
  </div><!-- /.columns.inner -->
</div><!-- /.definitions -->

<div class="signup-entice">
  <%if (user.anonymous) { %>
  <a href="/zuser/signup" class="signup-button"><strong>免费注册</strong> 病友联合起来，共同 <em>战胜疾病！</em></a>
  <% } %>
  
  <p>更大可能治愈疾病，分享治疗信息, 得到病友关注, 找到好医生, 获得慈善援助以及更多…</p>
</div>

<div class="rule"></div>

<div class="columns fourcols feature-overview">
  <div class="column leftmost">
    <h3>关于我们</h3>
    <p>我们是由<strong>疑难病友发起</strong>的组织，旨在创建病友互相交流，共同寻找治疗道路的平台。</p>
    <p><strong><a href="http://zhongyi01.com/collaboration">更多内容</a></strong></p>
  </div><!-- /.leftmost -->
  <div class="column leftmid">
    <h3>宗旨</h3>
    <p>打造世界最大的中医案例数据库，提供最丰富、真实、详细、权威的中医案例信息</p>
    <p><strong><a href="/features/projects/codereview">关于宗旨的更多内容</a></strong></p>
  </div><!-- /.leftmid -->
  <div class="column rightmid">
    <h3>关注病友</h3>
    <p>本站将高级病友列为重点关注对象，帮助其寻找优秀的医生，并且帮助其减免医药费。</p>
    <p><strong><a href="/features/hosting">关注病友的更多内容</a></strong></p>
  </div><!-- /.rightmid -->
  <div class="column rightmost">
    <h3>网站目的</h3>
    <p>收集中医疗效的证据，通过实际案例证实中医的疗效。</p>
    <p><strong><a href="/features/community">网站目的的更多内容</a></strong></p>
  </div><!-- /.rightmost -->
</div>

