
<h1>tips</h1>
<%- partial('../messages') %>
<div style="float: left; width: 60%;">
	<table class="tabular">
		<tr>
			<th>姓名</th>
		</tr>
		<% tips.forEach(function(tip){ %>
		<tr>
			<td><a href="/tip/<%= tip.id %>"><%= tip.name %></a></td>
		</tr>
		<% }) %>
		<tfoot>
			<tr>
				<td colspan='2'><%- pagerHtml %></td>
			</tr>
		</tfoot>
	</table>
</div>
<div style="float: left; margin-left: 5%; width: 35%;">
	<form method="post" action="/tips">
		<input type="hidden" name="_method" value="post" />
		<p>
		 <% for (var key in myschema){ %>	
			<%= myschema[key]["cn_name"]  %>: <input type="text" name="tip[<%= key%>]" />
		<% } %>

		</p>
		<p>
			<button class="button-submit" type="submit" value="Create">创建</button>
		</p>
	</form>
</div>
