      

      <div class="title-actions-bar">
        <h1>
          <a href="https://github.com/jquery">脊髓损伤</a> /
          <strong><a href="https://github.com/jquery/jquery" class="js-current-repository">杨惠洁快快康复吧！</a></strong>
          
          
        </h1>
        
    <ul class="actions">
      
<% if (true) { %>
   <li class="for-owner"><a href="/sickcases/act/edit_view?sickcaseid=<%= sickcase.id%>" class="minibutton btn-admin"><span><span class="icon"></span>管理此案例</span></a></li>    
<% } %>      
        <li>

  
		
            <a title="You must be logged in to use this feature" href="file:///D:/%E5%BF%AB%E7%9B%982/%E4%B8%AD%E5%8C%BB%E6%A1%88%E4%BE%8B%E7%BD%91/github%E6%A8%A1%E6%8B%9F/toggle_watch" class="minibutton btn-watch watch-button entice" ><span><span class="icon"></span>未关注</span></a>
          
        </li>
        
          
            <li><a title="You must be logged in to use this feature" href="https://github.com/jquery/jquery/fork" class="minibutton btn-fork fork-button entice" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var s = document.createElement('input'); s.setAttribute('type', 'hidden'); s.setAttribute('name', 'authenticity_token'); s.setAttribute('value', '7e3ed440dc86b0ffacf2b99e5d2a85fad46590bb'); f.appendChild(s);f.submit();return false;"><span><span class="icon"></span>转发</span></a></li>
          

          
        
      
      
      <li class="repostats">
        <ul class="repo-stats">
          <li class="watchers ">
            <a href="https://github.com/jquery/jquery/watchers" title="Watchers" class="tooltipped downwards">
              9,122
            </a>
          </li>
          <li class="forks">
            <a href="https://github.com/jquery/jquery/network" title="Forks" class="tooltipped downwards">
              992
            </a>
          </li>
        </ul>
      </li>
    </ul>

      </div>
