<!--  SCRIPTS -->
<!-- put your script includes and any SHORT inlines here -->
<script src="/js/jquery-1.4.4.min.js"></script>
<script src="/js/cleanslate-core.js"></script>

<!-- 中医案例网使用的js文件 -->
<script src="/js/jquery-1.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/xheditor/xheditor-1.1.10-zh-cn.min.js"></script>

<%- scripts %>

<script>
$(function() {
   $('.content-block').dblclick(function() {
    if(this.id) {
      location.href = "/content/edit/" + this.id + "?returnTo=<%= request.url %>";
    }
  });
});
</script>

