




<div class="pagehead shrunken dashboard">

  <span class="minibutton switcher account-switcher js-account-switcher">
  <span>
    <img src="/images/gravatars/gravatar-140.png" alt="" height="20" width="20">
    wqli78
  </span>
</span>


  <div class="context-pane js-account-switcher-pane" style="display: none">
    <a href="javascript:;" class="close"></a>
    <div class="title compact-title">Switch account context</div>
    <div class="body pane-selector">

      <div class="no-results">You don't belong to any organizations.</div>
      <a href="https://github.com/account/organizations" class="manage-orgs" title="Manage your organizations">Manage Organizations</a>

    </div>
  </div>


  

  <ul class="actions">
    <li><a class="feed tooltipped leftwards" title="Subscribe to your personalized GitHub Feed" href="https://github.com/wqli78.private.atom?token=f63e90e2528ae89b3b2d7d8dc4822554">News Feed</a></li>
  </ul>
  <ul class="tabs">
  <li><a href="https://github.com/" class="selected">最新动态</a></li>
  <li><a href="https://github.com/dashboard/yours">您的动作</a></li>
  <li><a href="https://github.com/dashboard/pulls">您的回复</a></li>
  </ul>

</div><!-- /.pagehead -->


  







<div class="bootcamp">
  <h1>中医案例网   <span>   　如果您是新人，我们提供了一些帮助文件，帮您熟悉我们的功能。</span>
  <a href="https://github.com/dashboard/dismiss_bootcamp" class="js-dismiss-bootcamp dismiss tooltipped leftwards" title="Hide this notice forever"></a>
  </h1>
  <div class="bootcamp-body">
  <ul>
    <li class="setup">
      <a href="/sickcases/act/create_view" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>创建案例</h2>
          <p>这里可以快速创建中医案例，需要详细描述各种信息.</p>
        </div>
        <span class="step-number one"></span>
      </a>
    </li>
    <li class="create-a-repo">
      <a href="http://help.github.com/create-a-repo" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>邀请关注</h2>
          <p>邀请您的亲友或者病友来关注您的进展情况，被关注度高的案例将可能获得网站的各种优惠活动.</p>
        </div>
        <span class="step-number two"></span>
      </a>
    </li>
    <li class="fork-a-repo">
      <a href="http://help.github.com/fork-a-repo" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>选择治疗方法</h2>
          <p>'有病乱投医'，选个医生或者疗法试试看，说不定在谁那里治好呢！</p>
        </div>
        <span class="step-number three"></span>
      </a>
    </li>
    <li class="be-social">
      <a href="http://help.github.com/be-social" target="_blank">
        <div class="image"></div>
        <div class="desc">
          <h2>共享治疗进展</h2>
          <p>分享成功经验.<br>吸取失败教训.</p>
        </div>
        <span class="step-number four"></span>
      </a>
    </li>
  </ul>
  </div> <!-- /bootcamp-body -->
</div> <!-- /bootcamp -->


<div id="dashboard">
  <div class="news">

    

    
      
        <div class="alert issues_comment"><div class="body"><div class="title">  <time class="js-relative-date" datetime="2011-09-12T07:12:48Z" title="2011-09-12 07:12:48">10分钟前：</time>
  <a href="https://github.com/joelmoss">wqlI78</a>
  <span>回复</span> 了
  <a href="https://github.com/rails/rails/pull/2936#issuecomment-2068279">杨惠洁快快康复吧</a> 的日志 <a href="https://github.com/rails/rails">2011年3月24日情况</a>

</div>

<div class="details">
  <div class="gravatar"><img src="admin_index_files/4fe35d76373429a6bdd9326b5ebbd515.png" alt="" height="30" width="30"></div>
  <div class="message">
    <blockquote title="Apologies!">
      <p>谢谢你的分享，祝你早日康复!</p>
    </blockquote>
  </div>
</div>
</div></div>
      
        <div class="alert issues_reopened"><div class="body"><div class="title">
  <a href="https://github.com/tenderlove">tenderlove</a>
  <span>reopened</span>
  <a href="https://github.com/rails/rails/issues/950">issue 950</a> on <a href="https://github.com/rails/rails">rails/rails</a>
  <time class="js-relative-date" datetime="2011-09-12T06:40:29Z" title="2011-09-12 06:40:29">43 minutes ago</time>
</div>

<div class="details">
  <div class="gravatar"><img src="admin_index_files/f29327647a9cff5c69618bae420792ea.jpeg" alt="" height="30" width="30"></div>
  <div class="message">
    <blockquote>
      ActiveRecord query changing when a dot/period is in condition value
    </blockquote>
  </div>
</div>
</div></div>
      
        <div class="alert issues_opened"><div class="body"><div class="title">
  <a href="https://github.com/tanin47">tanin47</a>
  <span>opened</span>
  <a href="https://github.com/rails/rails/pull/2982">pull request 2982</a> on <a href="https://github.com/rails/rails">rails/rails</a>
  <time class="js-relative-date" datetime="2011-09-12T05:22:57Z" title="2011-09-12 05:22:57">about 2 hours ago</time>
</div>
<div class="details">
  <div class="gravatar"><img src="admin_index_files/4074211a059075db95a4f42dcdbab5c3.jpeg" alt="" height="30" width="30"></div>
  <div class="message">
    <blockquote>Problem with non-english character URL</blockquote>
    2 commits with 
    2 additions and 
    2 deletions
  </div>
</div>
</div></div>
      
        <div class="alert issues_closed"><div class="body"><div class="title">
  <a href="https://github.com/tanin47">tanin47</a>
  <span>closed</span>
  <a href="https://github.com/rails/rails/pull/2929">pull request 2929</a> on <a href="https://github.com/rails/rails">rails/rails</a>
  <time class="js-relative-date" datetime="2011-09-12T05:19:25Z" title="2011-09-12 05:19:25">about 2 hours ago</time>
</div>
<div class="details">
  <div class="gravatar"><img src="admin_index_files/4074211a059075db95a4f42dcdbab5c3.jpeg" alt="" height="30" width="30"></div>
  <div class="message">
    <blockquote>unescape URL before it is processed, otherwise, there would be a problem with non-english character URL. </blockquote>
  </div>
</div>
</div></div>
      

        <div class="alert push"><div class="body"><div class="title">
  <a href="https://github.com/spastorino">spastorino</a>
  <span>pushed</span> to master at <a href="https://github.com/rails/rails">rails/rails</a>
  <time class="js-relative-date" datetime="2011-09-12T00:07:31Z" title="2011-09-12 00:07:31">about 7 hours ago</time>
</div>
<div class="details">
  <div class="gravatar"><img src="admin_index_files/d04d064616ae7fd752fdcb8daa5abdd6.jpeg" alt="" height="30" width="30"></div>

  <div class="commits">
    <ul>
      <li>
        <code><a href="https://github.com/rails/rails/commit/4bcacc80667a548664b5ca09d85074c6c383748e">4bcacc8</a></code>

        <div class="message">
          <blockquote title="Merge pull request #2936 from joelmoss/migration_status

db:migrate:status not looking at all migration paths">
            Merge pull request <a href="https://github.com/rails/rails/issues/2936" title="db:migrate:status not looking at all migration paths" class="issue-link">#2936</a> from joelmoss/migration_status
          </blockquote>
        </div>
      </li>
    </ul>
  </div>
</div>
</div></div>
      
        <div class="alert issues_closed"><div class="body"><div class="title">
  <a href="https://github.com/spastorino">spastorino</a>
  <span>merged</span>
  <a href="https://github.com/rails/rails/pull/2936">pull request 2936</a> on <a href="https://github.com/rails/rails">rails/rails</a>
  <time class="js-relative-date" datetime="2011-09-12T00:05:17Z" title="2011-09-12 00:05:17">about 7 hours ago</time>
</div>
<div class="details">
  <div class="gravatar"><img src="admin_index_files/d04d064616ae7fd752fdcb8daa5abdd6.jpeg" alt="" height="30" width="30"></div>
  <div class="message">
    <blockquote>db:migrate:status not looking at all migration paths</blockquote>
    1 commit with 
    7 additions and 
    5 deletions
  </div>
</div>
</div></div>

      
        <div class="pagination ajax_paginate"><a href="https://github.com/dashboard/index/2">更多....</a></div>
      
    
  </div>


  
    <div class="octofication">
  <div class="message">
    <h3><a href="https://github.com/blog/926-shiny-new-commit-styles">中医案例网发布了新版本</a></h3>
    <p>新版本加入了社会化元素，更有利于大家沟通!</p>
  </div>
  <ul class="actions">
    <li class="hide">
      <a href="https://github.com/account/read_broadcast/926"><strong>×</strong> 隐藏这个公告板</a>
    </li>
    <li class="more">
      <a href="https://github.com/blog/broadcasts">
        
          查看所有 <strong>8</strong>个新公告！
        
      </a>
    </li>
  </ul>
</div>

  

  
    
    <div class="repos" id="your_repos">
      <div class="top-bar">
        <h2>您的案例库 <em>(2)</em></h2>
        <a href="/sickcases/act/create_view" class="button new-repo">创建新案例</a>
      </div>
      
        <div class="filter-bar">
          <div class="placeholder-field js-placeholder-field">
            <label style="display: block;" class="placeholder" for="your-repos-filter">查找案例…</label>
            <input id="your-repos-filter" class="filter_input" type="text">
          </div>
          <ul class="repo_filterer">
            <li class="all_repos"><a href="#" class="repo_filter filter_selected" rel="public, li.private">所有案例</a></li>
            <li><a href="#" class="repo_filter" rel="public">公开</a></li>
            <li><a href="#" class="repo_filter" rel="private">病友可见</a></li>
            <li><a href="#" class="repo_filter" rel="source">完全私有</a></li>
          </ul>
        </div>
        <ul id="repo_listing" class="repo_list">
          
		<% mysickcases.forEach(function(mysickcase){%>
		
		  <li class="public source">
			<a href="/sickcases/<%=mysickcase._id %>/case_show">
			  <span class="owner"><%= mysickcase.created_by_login %></span>/<span class="repo"><%= mysickcase.name %></span>
			</a>
		  </li>
				
		
		<%}) %>

  <li class="public fork">
    <a href="https://github.com/wqli78/express-mvc-bootstrap">
      <span class="owner">wqli78</span>/<span class="repo">癫痫病治疗</span>
    </a>
  </li>


        </ul>
      
      <div class="bottom-bar">
        
      </div>
    </div>

    
    
    
      <div class="repos watching" id="watched_repos">
        <div class="top-bar">
          <h2>我关注的案例 <em>(6)</em></h2>
        </div>
        <div class="filter-bar">
          <div class="placeholder-field js-placeholder-field">
            <label style="display: block;" class="placeholder" for="your-watches-filter">查找案例…</label>
            <input id="your-watches-filter" class="filter_input" type="text">
          </div>
          <ul class="repo_filterer">
            <li class="all_repos"><a href="#" class="repo_filter filter_selected" rel="public, li.private">所有案例</a></li>
            <li><a href="#" class="repo_filter" rel="public">公开</a></li>
            <li><a href="#" class="repo_filter" rel="private">病友可见</a></li>
            <li><a href="#" class="repo_filter" rel="source">私有</a></li>
          </ul>
        </div>

        <ul class="repo_list" id="watched_repo_listing">
          
  <li class="public source">
    <a href="https://github.com/rails/rails">
      <span class="owner">rails</span>/<span class="repo">rails</span>
    </a>
  </li>

  <li class="public source">
    <a href="https://github.com/fpletz/kernelroll">
      <span class="owner">fpletz</span>/<span class="repo">kernelroll</span>
    </a>
  </li>

  <li class="public source">
    <a href="https://github.com/kof/node-jqtpl">
      <span class="owner">kof</span>/<span class="repo">node-jqtpl</span>
    </a>
  </li>

  <li class="public source">
    <a href="https://github.com/cramerdev/gearman-node">
      <span class="owner">cramerdev</span>/<span class="repo">gearman-node</span>
    </a>
  </li>

  <li class="public source">
    <a href="https://github.com/cliftonc/express-mvc-bootstrap">
      <span class="owner">cliftonc</span>/<span class="repo">express-mvc-bootstrap</span>
    </a>
  </li>

  <li class="public source">
    <a href="https://github.com/kissyteam/nodejs-kissy">
      <span class="owner">kissyteam</span>/<span class="repo">nodejs-kissy</span>
    </a>
  </li>


        </ul>
        <div class="bottom-bar">
          
        </div>
     </div>
    
  
</div>

      