


<div id="inbox">
  <div class="actions">
  <div class="compose">
    <p><a href="https://github.com/inbox/new"><img alt="compose" src="/images/modules/inbox/message.png"> <span>写信</span></a></p>
  </div>
  <div class="boxes">
    <ul>
      
      <li><a class="" href="https://github.com/inbox">收信箱</a></li>
      
      <li><a class="" href="https://github.com/inbox/notifications">通知</a></li>
      <li><a href="https://github.com/inbox/sent">发信箱</a></li>
    </ul>
  </div>
</div>


  <div class="list">
    <div style="float:right;">  </div>
    <h1>收信箱</h1>

    

    

    

    <div style="float:right;">  </div>
  </div>

</div>

 