

      <div class="pagehead repohead vis-public    instapaper_ignore readability-menu">
		
      <div class="pagehead repohead vis-public   emptyrepohead shortdetails instapaper_ignore readability-menu">

      
       

  <div class="subnav-bar">
  
  <ul>
    <li>
      <a href="https://github.com/jquery/jquery/branches" class="dropdown">  最新进展</a>

    </li>
    <li>
      <a href="#" class="dropdown ">求诊历史</a>
              <ul>
                      
              <li><a href="https://github.com/jquery/jquery/tree/1.6rc1">求诊于博爱医院</a></li>
              <li><a href="https://github.com/jquery/jquery/tree/1.6rc1">求诊于吴立克神经干细胞移植</a></li>
              <li><a href="https://github.com/jquery/jquery/tree/1.6rc1">求诊于刘光亭</a></li>
              <li><a href="https://github.com/jquery/jquery/tree/1.6rc1">求诊于济南铁路医院</a></li>
              <li><a href="https://github.com/jquery/jquery/tree/1.6rc1">求诊于宋洋</a></li>
              <li><a href="https://github.com/jquery/jquery/tree/1.6rc1">求诊于李仲良</a></li>
            
  
            
                  </ul>
      
    </li>
    <li>
    
    <a href="https://github.com/jquery/jquery/branches" class="manage">关键进展</a>
    
    </li>
  </ul>
</div>

  
  </div>
  
  
  
  



        
    <div id="repo_details" class="metabox clearfix">
      <div id="repo_details_loader" class="metabox-loader" style="display:none">Sending Request…</div>

      
        <a href="file:///jquery/jquery/archives/master" class="download-source" data-facebox-url="/jquery/jquery/archives/master" id="download_button" title="Download source, tagged packages and binaries."><span class="icon"></span>问候</a>
      

      <div id="repository_desc_wrapper">
      <div id="repository_description" rel="repository_description_edit">
        
          <p>2008年4月28日，胶济铁路脱轨事故伤员，至今仍在治疗中。
            <span id="read_more" style="">— <a href="#readme">更多</a></span>
          </p>
		  <script>
    $("a").click(function () {
      $(this).toggleClass("entice");
    });
</script>

		    <style>
  .entice { opacity:0.5; }
  </style>


  
  
      </div>

      <div id="repository_description_edit" style="display:none;" class="inline-edit">
        <form action="/jquery/jquery/admin/update" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" value="7e3ed440dc86b0ffacf2b99e5d2a85fad46590bb" type="hidden"></div>
          <input name="field" value="repository_description" type="hidden">
          <input class="textfield" name="value" value="jQuery JavaScript Library" type="text">
          <div class="form-actions">
            <button class="minibutton"><span>Save</span></button> &nbsp; <a href="#" class="cancel">Cancel</a>
          </div>
        </form>
      </div>

      
      <div class="repository-homepage" id="repository_homepage" rel="repository_homepage_edit">
        <p><a href="http://yanghuijie2.com/" rel="nofollow">http://yanghuijie2.com</a></p>
      </div>

      <div id="repository_homepage_edit" style="display:none;" class="inline-edit">
        <form action="/jquery/jquery/admin/update" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" value="7e3ed440dc86b0ffacf2b99e5d2a85fad46590bb" type="hidden"></div>
          <input name="field" value="repository_homepage" type="hidden">
          <input class="textfield" name="value" value="http://jquery.com/" type="text">
          <div class="form-actions">
            <button class="minibutton"><span>Save</span></button> &nbsp; <a href="#" class="cancel">Cancel</a>
          </div>
        </form>
      </div>
      </div>
      <div class="rule "></div>
      <div class="url-box">
  

  <ul class="clone-urls">
    
      
      <li class="http_clone_url selected"><a href="https://github.com/jquery/jquery.git" data-permissions="Read-Only">转发</a></li>
      <li class="public_clone_url"><a href="git://github.com/jquery/jquery.git" data-permissions="Read-Only">告诉别人知道</a></li>
    
    
  </ul>
  <input value="https://github.com/jquery/jquery.git" spellcheck="false" class="url-field" type="text">
        <span style="display:none" id="clippy_1984" class="url-box-clippy">https://github.com/jquery/jquery.git</span>
      <span id="clippy_tooltip_clippy_1984" class="clippy-tooltip tooltipped" title="copy to clipboard">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" class="clippy" id="clippy" height="14" width="14">

      <embed src="case_files/clippy.swf" name="clippy" quality="high" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=clippy_1984&amp;copied=&amp;copyto=" bgcolor="#FFFFFF" wmode="opaque" height="14" width="14">
      </object>
   </span>
  <p class="url-description">隐私级别：<strong>Read-Only</strong> ; 认证等级：***** </p>
</div>

    </div>

    <div class="frame frame-center tree-finder" style="display:none" data-tree-list-url="/jquery/jquery/tree-list/c2531e26d68df80a1544c99661c9653fc77ee6f7" data-blob-url-prefix="/jquery/jquery/blob/c2531e26d68df80a1544c99661c9653fc77ee6f7">
      <div class="breadcrumb">
        <b><a href="https://github.com/jquery/jquery">jquery</a></b> /
        <input class="tree-finder-input" name="query" autocomplete="off" spellcheck="false" type="text">
      </div>

      
        <div class="octotip">
          <p>
            <a href="https://github.com/jquery/jquery/dismiss-tree-finder-help" class="dismiss js-dismiss-tree-list-help" title="Hide this notice forever">Dismiss</a>
            <strong>Octotip:</strong> You've activated the <em>file finder</em> by pressing <span class="kbd">t</span>
            Start typing to filter the file list. Use <span class="kbd badmono">↑</span> and <span class="kbd badmono">↓</span> to navigate,
            <span class="kbd">enter</span> to view files.
          </p>
        </div>
      

      <table class="tree-browser" cellpadding="0" cellspacing="0">
        <tbody><tr class="js-header"><th>&nbsp;</th><th>name</th></tr>
        <tr class="js-no-results no-results" style="display: none;">
          <th colspan="2">No matching files</th>
        </tr>
        </tbody><tbody class="js-results-list">
        </tbody>
      </table>
    </div>

    <div id="jump-to-line" style="display:none">
      <h2>Jump to Line</h2>
      <form>
        <input class="textfield" type="text">
        <div class="full-button">
          <button type="submit" class="classy">
            <span>Go</span>
          </button>
        </div>
      </form>
    </div>


        

      </div><!-- /.pagehead -->

      















  <div class="commit commit-tease">
  
  <p class="commit-title">
    <a href="https://github.com/jquery/jquery/commit/c2531e26d68df80a1544c99661c9653fc77ee6f7">最新动态：张某发表了评论.</a>
    
  </p>
  
  <div class="commit-meta">
    <a href="https://github.com/jquery/jquery/commit/c2531e26d68df80a1544c99661c9653fc77ee6f7" class="sha-block">操作时间 <span class="sha">2011年8月2日</span></a>

    <div class="authorship">
      
      <img src="case_files/161a4cc619398bea1e1714036ed122cf.jpeg" alt="" class="gravatar" height="20" width="20">
      <span class="author-name"><a href="https://github.com/dmethvin">张某</a></span>
      发表于 <time class="js-relative-date" datetime="2011-09-01T08:53:16-07:00" title="2011-09-01 08:53:16">September 01, 2011</time>

      
    </div>
  </div>
</div>



  
  <div id="slider">
    
      <div class="breadcrumb" data-path="/">
        <b><a href="https://github.com/jquery/jquery" class="js-rewrite-sha">最新动态</a></b> / 
      </div>

      
        

  
  <div class="frames">
    <div class="frame frame-center" data-path="/" data-permalink-url="/jquery/jquery/tree/c2531e26d68df80a1544c99661c9653fc77ee6f7" data-title="jquery/jquery - GitHub" data-type="tree" data-cached-commit-url="/jquery/jquery/cache/commits/c2531e26d68df80a1544c99661c9653fc77ee6f7?commit_sha=c2531e26d68df80a1544c99661c9653fc77ee6f7&amp;path=">
      <table class="tree-browser" cellpadding="0" cellspacing="0">
        <tbody><tr class="header">
          <th></th>
          <th>姓名</th>
          <th>日期</th>
          <th>
            <div class="history">
              <a href="https://github.com/jquery/jquery/commits/master/">历史</a>
            </div>
            操作
          </th>
        </tr>

        <% sickcase.dongtai.forEach(function(dongtai){ %>
        
        
            <tr class="alt">
            <td class="icon"> <img alt="directory" src="/images/icons/dir.png" height="16" width="16"> </td>
            <td class="content"> <a href="/user/<%= dongtai.created_by %>/show"><%= dongtai.created_by_login %></a></td>
            
            <td class="age"> <time class="js-relative-date" datetime="2011-08-29T10:38:26-07:00" title="2011-08-29 10:38:26"><%= dongtai.date %> </time> </td>
            <td class="message"> <a href="https://github.com/jquery/jquery/commit/2fc6205fc7b9a6cfa0dd85f5ba24bc0953366e82" class="message"> <%= dongtai.body %> </td>
          </tr>		
		
		
		<% }) %>

        
                    <tr class="">
            <td class="icon"> <img alt="file" src="/images/icons/txt.png" height="16" width="16"> </td>
            <td class="content"> <a href="https://github.com/jquery/jquery/blob/master/version.txt" class="js-slide-to js-rewrite-sha" id="8c95ec6fe7b4226be156b2d16a1d09f4b1ecdd54">宝贝</a></td>
            
            <td class="age"> <time class="js-relative-date" datetime="2011-09-01T08:53:16-07:00" title="2011-09-01 08:53:16">September 01, 2011</time> </td>
            <td class="message"> <a href="https://github.com/jquery/jquery/commit/c2531e26d68df80a1544c99661c9653fc77ee6f7" class="message">最新动态：张某发表了评论.</a> [<a href="https://github.com/dmethvin">dmethvin</a>] </td>
          </tr>
        
      </tbody></table>

      
      <div id="readme" class="announce instapaper_body md" data-path="/"><span class="name"></span><div class="wikistyle"><h1>
<a href="http://jquery.com/">治疗大事记</a> - 能否持续进展</h1>

<h2>事情的起源</h2>

<p>2008年4月27日，惠洁坐火车去青岛看望同学，早上4点多出现脱轨，9点多被送到周村区第二人民医院手术。</p>
<p>伤后状况为胸部以下无任何知觉，不能动。胳膊只有右手肘能收回，不能伸开。左臂完全不能动。双手不能动</p>


<h2>出事一个月后开始进行神经干细胞神经</h2>

<p>选择当时的天坛普华医院的吴立克医生作为主治医生，进行了9个月的干细胞移植。期间在两个多月的时间出现左手能动，左臂能动的情况。后面的6个月无明显进展，后决定换治疗方法。</p>

<h2>2009年2月，到山东中医药大学的附属康复医院，刘光亭处治疗。</h2>

<p>有正常的恢复，比如可以自己推轮椅等，但是没有感受到明显进展。</p>

<h2>2009年5月份，曾经请号称佛门藏医、骨科圣手的杨岭治疗10天</h2>

<p>杨岭开始话说的很大，说可以给惠洁接神经。我们预付了2万。治疗10天左右，没有进展。每次治疗，杨岭说之后会出现的变化都没有兑现，于是停止治疗。我们没有要求退还费用。</p>

</div></div>
    </div>
  </div>
  <br style="clear:both;">


<br style="clear:both;">

<div class="frame frame-loading" style="display:none;" data-tree-list-url="/jquery/jquery/tree-list/c2531e26d68df80a1544c99661c9653fc77ee6f7" data-blob-url-prefix="/jquery/jquery/blob/c2531e26d68df80a1544c99661c9653fc77ee6f7">
  <img src="case_files/big_spinner_336699.gif" height="32" width="32">
</div>


      

    
  </div>
  
    </div>
  

 